.label {
	width: 170px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	font-size: 12px !important;
	color: #000 !important;
	background-color: #eee !important;
	padding-top: 6px;
}
.labelRead {
	margin-bottom: 3px !important;
}
.labelSelect {
	margin:0;
}
.value {
	width: 400px;
}
.editorValue {
	vertical-align: top;
	width: 570px;
	margin-bottom: 5px;
}
.mce-path {
	display: none !important;
}
div.value {
	display: inline-block;
	margin-left: 5px;
}
input.value {
	height: 26px;
}
textarea.value {
	height: 60px;
}
.gap {
	height:17px;
}
.btn-calendar {
	font-size: 18px !important;
}
.form-control {
	height: 28px !important;
}