.addressName {
	font-weight:bold;
}

.addressState:after {
	content: ",";
}


.contactsGroup {
	height: 520px;
	width: 400px;
	overflow-y: scroll;
}

.contactList {
	width: 400px;
}


.contactItem {
	padding: 0px 15px 10px 15px;
	width: 400px;
}

.contactSelected {
	background-color: #FAFAFF;
}
.contactSelected:hover {
	background-color: #EEEEFF !important;
}

