.addressName {
	font-weight:bold;
}

.addressState:after {
	content: ",";
}

.contactSelected {
	background-color: #FAFAFF;
}

.contactSelected:hover {
	background-color: #EEEEFF !important;
}

.list-group {
	height: 520px;
	overflow-y: scroll;
}
.list-group-item {
	border-bottom: none !important;
}
.list-group-item-links {
	border: 1px solid #ddd;
	border-top: none;
	padding: 0px 15px 10px 15px;
}