.fa-minus-circle {
    color: red;
}

.pub-lists-section {
	margin-top: 2em;
}

.pub-list-section {
	padding: 1em;
}

.pub-grid-container,
.pub-list-grid-container {
	margin-top: 1em;
}

/*style.css*/
.pub-list-grid,
.pub-grid{
    border: 1px solid rgb(212,212,212);
    width: 99%; 
    height: 500px;
}