.fa-minus-circle {
    color: red;
}

.pub-lists-section {
	margin-top: 2em;
}

.pub-list-section {
	padding: 1em;
}

.pub-grid-container,
.pub-list-grid-container {
	margin-top: 1em;
}

/*style.css*/
.pub-list-grid,
.pub-grid{
    border: 1px solid rgb(212,212,212);
    width: 99%; 
}

.pub-grid{
    height: 540px;
}

.pub-list-grid {
    height: 414px;
}

.pubs-loading-indicator {
	background: url('../lib/select2/select2-spinner.gif')
		no-repeat center center;
}

.pubs-disclaimer {
	text-align: center;
	border: 1px solid #A0A0A0;
	border-radius: 4px 4px 4px 4px;
	list-style: none outside none;
	margin: 0.25%;
	padding: 8px 15px;
	overflow: auto;
}

.pubs-disclaimer p {
	text-align: left;
}