

/** header banner styles **/

.banner-area {
    background-image: url(../images/pubs_banner.gif) !important; /* Modify for alternate banner images */
    background-position: 0px 0px;
}
#ccsa-area {
    float: right;
    color: #FFF;
    background-color: #000;
}
#ccsa-area a {
	font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	display: block;
	font-size: 12px;
	margin-bottom: 2px;    
    padding-right: 1em;
    line-height: 1;
    margin-left: 4px;
    color: #FFF;
    background-color: transparent;
}


/** button styles **/

div.actions {
	margin-left: 215px;
	margin-bottom: 10px;
}

button.publicationsList {
	position: relative;
	left: 400px;
	top: 40px;
}
/** because fo the relative button **/
#bibliodata {
	margin-top: -40px;
}


/** tab styles **/
.nav>li>a {
	color: #aaa;
}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover {
	font-weight: bold;
}
.nav-tabs>li {
	cursor: pointer;
}


/** data row styles **/

.label {
	clear:both;
	width: 150px;
	text-align: right;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 12px !important;
	color: #000 !important;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25)  !important;
	background-color: #eee !important;
	padding-right: 5px; 
}
.labelRead {
	margin-bottom: 3px !important;
}
.labelSelect {
	margin:0;
}
.value {
	width: 400px;
}
div.value {
	display: inline-block;
	margin-left: 5px;
}
input.value {
	height: 26px;
}
textarea.value {
	margin-top: -17px;
	height: 60px;
}
.gap {
	height:17px;
}


/** preview pane styles **/

.preview {
	height: 600px;
	display: inline-block;
	float:right;
	margin: 10px;
}
.preview iframe {
	height: 600px;
}
