<div id="pubs-login-page-content" class="container">
			<div class="row">
				<div class="col-sm-2 col-lg-2"></div>
				<div class="col-sm-8 col-lg-8 login-login-section">
					<div class="pubs-disclaimer">
						<b>MyPubs Login Header</b>
						<p>MyPubs Login Description. Pubs Warehouse provides access to over 100,000 
						publications written by USGS scientists over the century-plus history of the bureau.
						<p>
							<br />
						<p>To continue, login using your AD credentials.

	                    <div class="loginFields row">
	                        <div class="col-lg-4 col-md-4">
	                        	<img src="img/lock_and_key.png" alt="login icon" class="lockImg" />
	                    	</div>
	                        <div class="pubs-login-form col-lg-8 col-md-8">
								<label>Username:</label><input id="username" type="text" class="form-control" ng-model="username"/><br/>
								<label>Password:</label><input id="password" type="password" class="form-control" ng-model="password"/><br/>
	                            <button class="btn" ng-click="doLogin(username, password)">Login</button>
	                        </div>
	                    </div>
					</div>

                </div>
                <div class="col-sm-2 col-lg-2"></div>
            </div>

        </div>