<div>
<div id="pubHeader" ng-controller="pubHeaderCtrl">
        
    <div id="sharedPubData" class="form-horizontal" >
        <div id="pub-id-div" class="form-group">    
            <label class="control-label col-sm-3" >Prod ID</label>
            <div class="col-sm-6">
                <span class="form-control" ng-bind="pubData.id" readonly></span>
            </div>
        </div>

        <div id="pub-index-id-div" class="form-group">   
            <label class="control-label col-sm-3" >Index ID</label>
            <div class="col-sm-6">
                <span class="form-control" ng-bind="pubData.indexId" readonly></span>
            </div>
        </div>

        <div id="pub-display-to-public-div" class="form-group">   
            <label class="control-label col-sm-3" >Display to public date</label>

            <div class="dropdown col-sm-6">
                <a class="dropdown-toggle" id="dropdown2" role="button"  data-target="#" href="#">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                </ul>
            </div>
        </div>
    </div>
	<div class="row actions">
		<button class="btn col-xs-3" >Reset</button>
		<button class="btn col-xs-3" >Release</button>
		<button class="btn col-xs-3" ng-click="persistPub()">Save Changes</button>
		<button class="btn col-xs-3" >Publish</button>
	</div>
</div>

	<div id="tabs" class="tabSet">
	  <tabset>
		<tab ng-repeat="tab in tabs" heading="{{tab.title}}" select="show(tab.title)"
				active="tab.active" disabled="tab.disabled">
			<div ng-if="show() === tab.title">

				<div id="{{tab.title}}_tab" class="tabPane" ng-include src="tab.templateUrl"></div>

			</div>
		</tab>
	  </tabset>
	</div>

</div>
