.collaboratorSmall {
	width:166px;
}
.collaboratorMedium {
	width:200px;
}
.collaboratorLarge {
	width:575px;
}
.collaboratorSpacer {
	display: inline-block;
	width:128px;
}
.collaboratorType {
	margin-right: 4px;
	width:125px;
}


