
<div id="authors" ng-controller="authorsCtrl">
    <div pw-list entries="authors" type-label="'Author'" entry-height="75"  entry-width="400" service="Authors">

		<select placeholder="Type" ui-select2 ng-model="entry.type" class="authorType" style="width:125px;">
			<option value=""></option>
			<option ng-repeat="option in typeOptions" value="{{option.value}}" ng-bind="option.text"></option>
		</select>
		<span ng-hide="isCorporation(entry)">
			<input placeholder="Last Name"  type="text" ng-model="entry.family" style="width:166px;">
			<input placeholder="First Name" type="text" ng-model="entry.given"  style="width:200px;">
			<input placeholder="Email"      type="text" ng-model="entry.email"  style="width:200px;">
			<div></div>
			<span style="width:122px;display: inline-block;"></span>
		</span>
		<input placeholder="Corporation"  type="text" ng-model="entry.literal"  style="width:574px;margin-left:3px;">
		<div ng-show="isCorporation(entry)">&nbsp;</div>

    </div>

	<div style="margin-bottom:10px;">
	    <div class="label labelSelect" style="width:146px">Cost Centers</div>
		<select placeholder="Enter a Cost Center" ui-select2 ng-model="costcenters" class="authorType" style="width:450px">
			<option value=""></option>
			<option ng-repeat="option in costCenterOptions" value="{{option.value}}" ng-bind="option.text"></option>
		</select>
	</div>

</div>
