<html ng-app="mypubs">
<head>
	<title>Pubs 2.0</title>

	<link rel="icon" type="img/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="img/x-icon" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/select2/select2.css">
	<link rel="stylesheet" type="text/css" href="css/pubs2.css">

</head>

<body>
	<div id="main" class="container">

		<div class="navbar navbar-fixed-top banner-area">
				<a class="navbar-brand" href="http://usgs.gov" target="_new">
					<img alt="USGS" src="img/usgslogo-40.png"></img>
				</a>
				<a class="navbar-brand" href="http://cida.usgs.gov" target="_new" title="Center for Integrated Data Analytics">
					<img alt="CIDA" src="img/cidalogo-40.png"></img>
				</a>

				<div id="ccsa-area">
	                <a href="http://www.usgs.gov/" title="Link to main USGS page">USGS Home</a>
	                <a href="http://www.usgs.gov/ask/index.html" title="Link to main USGS contact page">Contact USGS</a>
	                <a href="http://search.usgs.gov/" title="Link to main USGS search (not publications search)">Search USGS</a>
            	</div>				
		</div>

		<div class="container mainContainer" ng-controller="mainCtrl">
			<div class="row">

				<div class="col-lg-8">
				  	<pubs:tabs names="Bibliodata,Contributors,Links,Contact,Cataloging,Geospatial,Reservations"></pubs:tabs>

					<div id="view">

						<div id="bibliodata" ng-controller="biblioCtrl">
							<button class="btn publicationsList" ng-click="pubslist.action" ng-bind="pubslist.name"></button>

						    <pubs:datarow ng-repeat="row in rows" data="row" class="relativeButton"></pubs:datarow>
							
							<div class="actions">
								<button class="btn" ng-click="reset.action" ng-bind="reset.name"></button>
								<button class="btn" ng-click="release.action" ng-bind="release.name"></button>
								<button class="btn" ng-click="save.action" ng-bind="save.name"></button>
								<button class="btn" ng-click="publish.action" ng-bind="publish.name"></button>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div id="preview" class="preview">
						<div class="previewTitle">Public Pubs Preview</div>
						<iframe src="resources/preview.html"></iframe>
						<!-- iframe src="http://pubs.er.usgs.gov/publication/sir20145055"></iframe -->
					</div>
				</div>

			</div>
		</div>

	</div>

	<!-- lib dependencies -->

	<script type="text/javascript" src="lib/jquery/jquery.1.11.0.js"></script>
	<script type="text/javascript" src="lib/underscore/underscore.1.6.0.js"></script>
	<script type="text/javascript" src="lib/select2/select2.3.4.8.js"></script>

	<script type="text/javascript" src="lib/angular/angular.1.2.17.js"></script>
	<script type="text/javascript" src="lib/angular/angular-route.1.2.17.js"></script>
	<script type="text/javascript" src="lib/angular/angular-ui-select2.js"></script>
	<script type="text/javascript" src="lib/angular/ui-bootstrap-tpls-0.11.0.js"></script>

	<!-- app directives -->
	<script type="text/javascript" src="js/app/tabs.js"></script>
	<script type="text/javascript" src="js/app/datarow.js"></script>

	<!-- app controllers -->
	<script type="text/javascript" src="js/app/main.js"></script>
	<script type="text/javascript" src="js/app/bibliodata.js"></script>

</body>
</html>	