/*
.tabPane {
	margin-bottom:10px;
}
*/
.linkPane:hover {
	background-color: #FAFAFA !important;
	width: 100%;
}

.linkRow {
	padding-top: 10px;
	width: 95%;
	display: inline-block;
	border-top: 1px solid #eee;
}


.linkType {
	margin-right: 4px;
}


.linkText {
	display:inline-block;
	width:262px;
}
.linkUrl {
	display:inline-block;
	width:55%;
}


.linkSmall {
	display:inline-block;
	width:75px;
}

.linkMedium {
	display:inline-block;
	width:100px;
}

.linkLarge {
	display:inline-block;
	width:365px;
}


.linkHandleReorder {
	height: 65px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
}
.linkHandleRemove {
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
}

.linkRemove {
	cursor: pointer;
}
.linkUp {
	cursor: pointer;
}
.linkDown {
	cursor: pointer;
}

.linkReorder {
	cursor: ns-resize;
}

.linkLabel {
	width: 75px;
	display: inline-block;
	background-color: #F5F5F5 !important;

}



.animate.ng-enter, 
.animate.ng-leave
{ 
	-webkit-transition: 500ms height;
	-moz-transition: 500ms  height;
	-ms-transition: 500ms height;
	-o-transition: 500ms height;
	transition: 500ms  height;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
	height: 0px;
}

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	height: 89px;
}


.listAnimateReorder {
    /* Needed, otherwise items would be at top of the page (see below) */
    position: absolute;
    width: 750px;
}
.listAnimateReorder-entry  {
    position: absolute;
    /* Top: 0; this will be changed for every single list item by AngularJS */
    top:0;
    /* Item height; hold this in sync with template file */
    height: 89px;
    /*  Simple transition */
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    width: 750px;
}

