
<div id="links" ng-controller="linksCtrl" >
    <div pw-list entries="links" type-label="'Link'" entry-height="85"  entry-width="750" service="Links">

		<div class="linkLabel label">Link:</div>
		<input placeholder="Link Text" type="text" ng-model="entry.text" class="linkText">
		<input placeholder="Link URL"  type="text" ng-model="entry.url"  class="linkLarge">

		<br>
		<div class="linkLabel label">Metadata:</div>

		<select placeholder="Link Type" ui-select2 ng-model="entry.type" class="linkMedium linkType">
			<option value=""></option>
			<option ng-repeat="option in typeOptions" value="{{option.value}}" ng-bind="option.text"></option>
		</select>

		<input placeholder="File Size" type="text" ng-model="entry.size" class="linkSmall">

		<select placeholder="File Type" ui-select2 ng-model="entry.fileType" class="linkSmall">
			<option value=""></option>
			<option ng-repeat="option in fileOptions" value="{{option.value}}" ng-bind="option.text"></option>
		</select>

		<input placeholder="Description Text" type="text" ng-model="entry.description" class="linkLarge">

    </div>

	<div style="margin-bottom:10px;">
	    <div class="label labelSelect" style="width:146px">Cost Centers</div>
		<select placeholder="Enter a Cost Center" ui-select2 ng-model="costcenters" class="authorType" style="width:450px">
			<option value=""></option>
			<option ng-repeat="option in costCenterOptions" value="{{option.value}}" ng-bind="option.text"></option>
		</select>
	</div>

</div>
