

.linkType {
	margin-right: 4px;
}


.linkText {
	display:inline-block;
	width:262px;
}
.linkUrl {
	display:inline-block;
	width:55%;
}


.linkSmall {
	display:inline-block;
	width:75px;
}

.linkMedium {
	display:inline-block;
	width:100px;
}

.linkLarge {
	display:inline-block;
	width:365px;
}

.linkLabel {
	width: 75px;
	display: inline-block;
	background-color: #F5F5F5 !important;
}
