.tabPane {
	margin-bottom:10px;
}

.linkPane:hover {
	background-color: #FAFAFA !important;
	width: 100%;
}

.linkRow {
	padding-top: 10px;
	width: 95%;
	display: inline-block;
	border-top: 1px solid #eee;
}


.linkType {
	margin-right: 4px;
}


.linkText {
	display:inline-block;
	width:262px;
}
.linkUrl {
	display:inline-block;
	width:55%;
}


.linkSmall {
	display:inline-block;
	width:75px;
}

.linkMedium {
	display:inline-block;
	width:100px;
}

.linkLarge {
	display:inline-block;
	width:365px;
}


.linkHandleReorder {
	height: 65px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
}
.linkHandleRemove {
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
}

.linkRemove {
	cursor: pointer;
}
.linkUp {
	cursor: pointer;
}
.linkDown {
	cursor: pointer;
}

.linkReorder {
	cursor: ns-resize;
}

.linkLabel {
	width: 75px;
	display: inline-block;
	background-color: #F5F5F5 !important;

}



.animate.ng-enter, 
.animate.ng-leave
{ 
	-webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}
	