
<div id="links" ng-controller="linksCtrl" >
														
  <div ng-style="{height: ((links.length * 89) + 'px')}" class="tabPane dnd-animate-reorder">
  	
    <div ng-repeat="link in links track by link.id" class="list-group animate dnd-animate-reorder-entry"
    ng-style="{top: ((link.order * 89) + 'px')}" pw-droppable drop="reoderDnd(link.order)" pw-draggable drag="startDnd(link.order)">

    	<div class="list-remove-handle">
			<div class="glyphicon glyphicon-remove-circle list-remove"  ng-click="remove(link.id)"></div>
		</div>
    	<div class="list-entry">
    		<div class="linkLabel label">Link:</div>
			<input placeholder="Link Text" type="text" ng-model="link.text" class="linkText">
			<input placeholder="Link URL"  type="text" ng-model="link.url"  class="linkLarge">

			<br>
    		<div class="linkLabel label">Metadata:</div>

			<select placeholder="Link Type" ui-select2 ng-model="link.type" class="linkMedium linkType">
				<option value=""></option>
				<option ng-repeat="option in typeOptions" value="{{option.value}}" ng-bind="option.text"></option>
			</select>

			<input placeholder="File Size" type="text" ng-model="link.size" class="linkSmall">

			<select placeholder="File Type" ui-select2 ng-model="link.fileType" class="linkSmall">
				<option value=""></option>
				<option ng-repeat="option in fileOptions" value="{{option.value}}" ng-bind="option.text"></option>
			</select>

			<input placeholder="Description Text" type="text" ng-model="link.description" class="linkLarge">

	    </div>
	    <div class="list-reorder-handle">
			<div class="glyphicon glyphicon-collapse-up list-reorder-before" ng-click="reorderUp(link.id)" ng-hide="link.order===0"></div>
			<div class="glyphicon glyphicon-collapse-down list-reorder-after" ng-click="reorderDown(link.id)" ng-hide="link.order===links.length-1"></div>
		</div>
    </div>

	<button ng-click="newLink()" class="btn" ng-disabled="isNewLink" style="position:relative;float:right;" 
	ng-style="{top: ((links.length * 89) + 'px')}">New Link</button>
  </div>
  <div ng-style="{height: ((links.length * 89) + 'px')}" class="animate-remove-entry"></div>	
</div>
