
<div id="contributors" ng-controller="contributorsCtrl">
    <tabset>
	<tab ng-repeat="tab in contribTabs" heading="{{tab.text}}" select="selectedTab($index)">
	    <form role="form">
		<div ui-sortable="sortOptions" ng-model="tab.data">
		    <div class="contributor-input-div" ng-repeat="contrib in tab.data">
			<pw-data-list-row class="row" on-delete="deleteContributor($index)" >
			    <select placeholder="Select kind" ui-select2 ng-model="contrib.kind" ng-change="changeKind(contrib)">
				<option></option>
				<option ng-repeat="option in contribKindOptions" value="{{option}}">{{option}}</option>
			    </select>
			    <div style="display:inline-block" ng-if="isPerson(contrib)">
				<select placeholder="Select Person" ui-select2 ng-model="contrib.contributorId" ng-change="updateContributorInfo($index)">
				    <option></option>
				    <option ng-repeat="option in personOptions" value="{{option.id}}">{{option.text}}</option>
				</select>
				<input class="contrib-affiliation" type="text" readonly ng-model="contrib.affiliation.text" />
			    </div>
			    <div style="display:inline-block" ng-if="isCorporation(contrib)">
				<select placeholder="Select Corporation" ui-select2 ng-model="contrib.contributorId" ng-change="updateContributorInfo($index)">
				    <option></option>
				    <option ng-repeat="option in corporationOptions" value="{{option.id}}">{{option.text}}
				</select>
			    </div>
			</pw-data-list-row>
		    </div>
		</div>

		<div>
		    <button type="button" class="btn btn-default" ng-click="addContributor()">New {{tab.text}}</button>
		</div>
	    </form>
	</tab>
    </tabset>
</div>
