<div id="bibliodata" class="form-horizontal" ng-controller="biblioCtrl">
    <div id="pub-type-div" class="form-group">
        <label class="control-label col-sm-3" for="pub-type-input">Publication Type</label>
        <div class="col-sm-9">
            <select class="form-control" placeholder="Select a publication type" ng-model="localPubTypeId" ng-change="changeType()" ui-select2>
                <option></option>
                <option ng-repeat="option in typeOptions" value="{{option.id}}">{{option.text}}</option>            
            </select>
        </div>
    </div>
    <div id="pub-subtype-div" class="form-group">
        <label class="control-label col-sm-3" for="pub-subtype-input">Publication Subtype</label>
        <div class="col-sm-9">
            <input class="form-control" type="hidden" ng-model="localPubGenreId" ng-change="changeGenre()" ui-select2="subtypeSelect2Options" />
        </div>
    </div>
    <div id="larger-work-type-div" class="form-group">
        <label class="control-label col-sm-3" for="pub-type-input">Larger Work Type</label>
        <div class="col-sm-9">
            <select class="form-control" placeholder="Select a larger work type" ng-model="localLargerWorkTypeId" ng-change="changeType()" ui-select2>
                <option></option>
                <option ng-repeat="option in typeOptions" value="{{option.id}}">{{option.text}}</option>            
            </select>
        </div>
    </div>
    <div class="form-group" id="larger-work-title-div">
         <label class="control-label col-sm-3" for="isbn-input">Larger Work Title</label>
         <div class="col-sm-9">
            <input id="larger-work-title-input" type="text" class="form-control" ng-model="pubData.largerWorkTitle" />
         </div>
    </div>
    <div id="series-title-tiv"  class="form-group">
        <label class="control-label col-sm-3" for="series-title-input">Series Title</label>
        <div class="col-sm-9">
            <input class="form-control" type="hidden" ng-model="localSeriesTitle" ui-select2="seriesTitleSelect2Options" />
        </div>
    </div>
    <div class="form-group" id="cost-centers-div">
        <label class="control-label col-sm-3" for="cost-centers-input">Cost Centers</label>
        <div class="col-sm-9">
            <select class="form-control" multiple ng-model="localCostCenters" ui-select2="costCenterSelect2Options">
                <option></option>
                <option ng-repeat="option in costCenterOptions" value="{{option.id}}">{{option.text}}</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="subseries-div">
         <label class="control-label col-sm-3" for="subseries-input">Subseries</label>
         <div class="col-sm-9">
            <input id="subseries-input" type="text" class="form-control" ng-model="pubData.subseriesTitle" />
         </div>
    </div>
    <div class="form-group" id="series-number-div">
         <label class="control-label col-sm-3" for="series-number-input">Series Number</label>
         <div class="col-sm-9">
            <input id="series-number-input" type="text" class="form-control" ng-model="pubData.seriesNumber" />
         </div>
    </div>
    <div class="form-group" id="chapter-div">
         <label class="control-label col-sm-3" for="chapter-input">Chapter</label>
         <div class="col-sm-9">
            <input id="chapter-input" type="text" class="form-control" ng-model="pubData.chapter" />
         </div>
    </div>    
    <div class="form-group" id="subchapter-div">
         <label class="control-label col-sm-3" for="subchapter-input">Subchapter</label>
         <div class="col-sm-9">
            <input id="subchapter-input" type="text" class="form-control" ng-model="pubData.subchapterNumber" />
         </div>
    </div>
    <div class="form-group" id="title-div">
         <label class="control-label col-sm-3" for="title-input">Title</label>
         <div class="col-sm-9">
            <input id="title-input" type="text" class="form-control" ng-model="pubData.title" />
         </div>
    </div>
    <div class="form-group" id="abstract-div">
        <label class="control-label col-sm-3" for="abstract-input">Abstract</label>
        <div class="col-sm-9">
            <textarea id="abstract-input" class="form-control" ui-tinymce="abstractEditorOptions" ng-model="pubData.abstract"></textarea>
        </div>
    </div>
    <div class="form-group" id="usgs-citation-div">
        <label class="control-label col-sm-3" for="usgs-citation-input">USGS Citation</label>
        <div class="col-sm-9">
            <textarea id="usgs-citation-input" class="form-control" ng-model="pubData.usgsCitation"></textarea>
        </div>
    </div>    
	<div class="form-group" id="collaboration-div">
         <label class="control-label col-sm-3" for="collaboration-input">Collaboration</label>
         <div class="col-sm-9">
            <input id="collaboration-input" type="text" class="form-control" ng-model="pubData.collaboration" />
         </div>
    </div>
    <div class="form-group" id="language-div">
         <label class="control-label col-sm-3" for="title-input">Language</label>
         <div class="col-sm-9">
            <input id="language-input" type="text" class="form-control" ng-model="pubData.language" />
         </div>
    </div>
    <div class="form-group" id="publication-div">
         <label class="control-label col-sm-3" for="publication-input">Publication</label>
         <div class="col-sm-9">
            <input id="publication-input" type="text" class="form-control" ng-model="pubData.publisher" />
         </div>
    </div>
    <div class="form-group" id="publication-location-div">
         <label class="control-label col-sm-3" for="title-input">Publication Location</label>
         <div class="col-sm-9">
            <input id="publication-location-input" type="text" class="form-control" ng-model="pubData.publisherLocation" />
         </div>
    </div>
    <div class="form-group" id="publication-year-div">
         <label class="control-label col-sm-3" for="isbn-input">Publication Year</label>
         <div class="col-sm-9">
            <input id="publication-year-input" type="text" class="form-control" ng-model="pubData.publicationYear" />
         </div>
    </div>
    <div class="form-group" id="conference-title-div">
         <label class="control-label col-sm-3" for="isbn-input">Conference Title</label>
         <div class="col-sm-9">
            <input id="conference-title-input" type="text" class="form-control" ng-model="pubData.conferenceTitle" />
         </div>
    </div>
    <div class="form-group" id="conference-date-div">
         <label class="control-label col-sm-3" for="isbn-input">Conference Date</label>
         <div class="col-sm-9">
            <input id="conference-date-input" type="text" class="form-control" ng-model="pubData.conferenceDate" />
         </div>
    </div>
    <div class="form-group" id="doi-div">
         <label class="control-label col-sm-3" for="doi-input">DOI</label>
         <div class="col-sm-9">
            <input id="doi-input" type="text" class="form-control" ng-model="pubData.doi" />
         </div>
    </div>
    <div class="form-group" id="issn-div">
         <label class="control-label col-sm-3" for="issn-input">ISSN</label>
         <div class="col-sm-9">
            <input id="issn-input" type="text" class="form-control" ng-model="pubData.issn" />
         </div>
    </div>
    <div class="form-group" id="isbn-div">
         <label class="control-label col-sm-3" for="isbn-input">ISBN</label>
         <div class="col-sm-9">
            <input id="isbn-input" type="text" class="form-control" ng-model="pubData.isbn" />
         </div>
    </div>
    <div class="form-group" id="ipds-div">
         <label class="control-label col-sm-3" for="isbn-input">IPDS</label>
         <div class="col-sm-9">
            <input id="ipds-input" type="text" class="form-control" ng-model="pubData.ipdsId" />
         </div>
    </div>    
    <div class="form-group" id="update-date-div">
         <label class="control-label col-sm-3" for="update-date-input">Last Modified Date</label>
         <div class="col-sm-9">
            <input id="update-date-input" type="text" class="form-control" ng-model="pubData.updateDate" />
         </div>
    </div>   
</div>
