<div id="bibliodata" ng-controller="biblioCtrl">
    <div id="pub-type-div">
        <label for="pub-type-input">Publication Type</label>
        <select placeholder="Select a publication type" ng-model="type" ui-select2>
            <option></option>
            <option ng-repeat="option in typeOptions" value="{{option.value}}">{{option.text}}</option>            
        </select>
    </div>
    <div id="pub-subtype-div">
        <label for="pub-subtype-input">Publication Subtype</label>
        <input type="hidden" ng-model="genre" ui-select2="subtypeSelect2Options" />
    </div>
    <div id="series-title-tiv">
        <label for="series-title-input">Series Title</label>
        <input type="hidden" ng-model="collection_title" ui-select2="seriesTitleSelect2Options" />
    </div>
</div>
