<div id="bibliodata" class="form-horizontal" ng-controller="biblioCtrl">
    <div id="pub-type-div" class="form-group">
        <label class="control-label col-sm-3" for="pub-type-input">Publication Type</label>
        <div class="col-sm-9">
            <select class="form-control" placeholder="Select a publication type" ng-model="type" ui-select2>
                <option></option>
                <option ng-repeat="option in typeOptions" value="{{option.id}}">{{option.text}}</option>            
            </select>
        </div>
    </div>
    <div id="pub-subtype-div" class="form-group">
        <label class="control-label col-sm-3" for="pub-subtype-input">Publication Subtype</label>
        <div class="col-sm-9">
            <input class="form-control" type="hidden" ng-model="genre" ui-select2="subtypeSelect2Options" />
        </div>
    </div>
    <div id="series-title-tiv"  class="form-group">
        <label class="control-label col-sm-3" for="series-title-input">Series Title</label>
        <div class="col-sm-9">
            <input class="form-control" type="hidden" ng-model="collection_title" ui-select2="seriesTitleSelect2Options" />
        </div>
    </div>
    <div class="form-group" id="cost-centers-div">
        <label class="control-label col-sm-3" for="cost-centers-input">Cost Centers</label>
        <div class="col-sm-9">
            <select class="form-control" multiple ng-model="cost_centers" ui-select2="costCenterSelect2Options">
                <option></option>
                <option ng-repeat="option in costCenterOptions" value="{{option.id}}">{{option.text}}</option>
            </select>
        </div>
    </div>
</div>
