.right {
	float:right !important;
}

.btn-group-menu {
	font-size: 0;
	border-left: 1px solid #23537C;
}

.btn-menu {
	font-size: 14px;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	cursor: pointer;
	color: #23537C;
	border: 1px solid #23537C;
	border-left:0;
	display: inline-block;
	z-index: 9;
	position: relative;
	width:100px;
}

.btn-menu.disabled {
	background-color: #ddd !important;
	color: #bbb !important;
	border: 1px solid #23537C !important;
}

.btn-menu.active {
	outline: 1px solid #fff !important;
	z-index: 10;
}

.btn-group-right {
	float: right;
	border-left: 1px solid #23537C;
	border-right: 1px solid #23537C;	
}

.btn-group-right:hover {
	border-left: 1px solid #285e8e;
	border-right: 1px solid #285e8e;	
}
