<div>
	<div class="dnd-animate-reorder">

		<div ng-repeat="entry in entries track by entry.id" class="list-group animate dnd-animate-reorder-entry"
		     ng-style="{top: entryTop(entry.order), height:rowHeight, width:rowWidth}" 
		     pw-draggable drag="startDnd(entry.order)" pw-droppable drop="reoderDnd(entry.order)">

	    	<div class="list-remove-handle">
				<div class="glyphicon glyphicon-remove-circle list-remove"  ng-click="remove(entry.id)"></div>
			</div>
	    	<div class="list-entry" pw-list-entry>

	    		<!-- render entry -->

		    </div>
		    <div ng-class="controlsAlignment()" ng-style="{top: controlsTop() }">
				<div class="glyphicon glyphicon-collapse-up list-reorder-before" 
				     ng-click="reorderBefore(entry.id)" ng-hide="entry.order===0">
				</div>
				<div class="glyphicon glyphicon-collapse-down list-reorder-after" 
				     ng-click="reorderAfter(entry.id)"  ng-hide="entry.order===entries.length-1">
				</div>
			</div>

		</div>
	</div>
	
	<button ng-click="newEntry()" ng-disabled="isNewEntry.val" style="position:relative;float:right;" 
			ng-style="{top: listHeight()}" class="btn" ng-hide="hideButton">New {{typeLabel}}</button>
	<div ng-style="{height: listHeight()}" class="animate-remove-entry"></div>	
</div>

