.list-group {
	overflow:hidden; 
}
.list-group:hover {
	background-color: #FAFAFA !important;
}


.list-entry {
	padding-top: 10px;
	width: 95%;
	display: inline-block;
	border-top: 1px solid #eee;
}

.list-remove {
	cursor: pointer;
	position: relative;
	top: 14px;
}
.list-remove-handle {
	display: inline-block;
	vertical-align: top;
	width: 14px;
}

.list-reorder-before {
	cursor: pointer;
}
.list-reorder-after {
	cursor: pointer;
}
.list-reorder-handle-right {
	height: 65px;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
}
.list-reorder-handle-left {
	width: 14px;
	position: relative;
}

.newEntryButton {
	position:relative;
	float:right;
}