<div id="catalog" class="form-horizontal" ng-controller="catalogCtrl">
	<div id="pub-prod-desc-div" class="form-group">
		<label class="control-label col-sm-3" for="prod-desc-input">Product Description</label>
		<div class="col-sm-9">
            <input id="prod-desc-input" type="text" class="form-control" ng-model="productDescription" />
		</div>
	</div>
	<div id="pub-start-page-div" class="form-group">
		<label class="control-label col-sm-3" for="start-page-input">Start Page</label>
		<div class="col-sm-9">
            <input id="start-page-input" type="text" class="form-control" ng-model="pageFirst" />
		</div>
	</div>
	<div id="pub-end-page-div" class="form-group">
		<label class="control-label col-sm-3" for="end-page-input">End Page</label>
		<div class="col-sm-9">
            <input id="end-page-input" type="text" class="form-control" ng-model="pageLast" />
		</div>
	</div>
	<div id="pub-num-pages-div" class="form-group">
		<label class="control-label col-sm-3" for="num-pages-input">Number of Pages</label>
		<div class="col-sm-9">
            <input id="num-pages-input" type="text" class="form-control" ng-model="numberOfPages" />
		</div>
	</div>
	<div id="pub-online-only-div" class="form-group">
		<label class="control-label col-sm-3" for="online-only-input">Online Only</label>
		<div class="col-sm-9">
			<input id="online-only-input" type="checkbox" ng-model="onlineOnly" ng-true-value="Y" ng-false-value="N">
		</div>
	</div>
	<div id="pub-additional-files-div" class="form-group">
		<label class="control-label col-sm-3" for="additional-files-input">Additional Online Files</label>
		<div class="col-sm-9">
			<input id="additional-files-input" type="checkbox" ng-model="additionalOnlineFiles" ng-true-value="Y" ng-false-value="N">
		</div>
	</div>
	<div id="pub-temporal-start-div" class="form-group">
		<label class="control-label col-sm-3" id="temporal-start-label">Temporal Start</label>
		<div class="dropdown col-sm-9">
			<a class="dropdown-toggle" id="temporal-start-dropdown" role="button"  data-target="#" href="#">
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="temporalStart">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="temporal-start-label">
				<datetimepicker data-ng-model="temporalStart" 
								data-datetimepicker-config="{ dropdownSelector: '#temporal-start-dropdown' }"></datetimepicker>
			</ul>
		</div>
	</div>
	<div id="pub-temporal-end-div" class="form-group">
		<label class="control-label col-sm-3" id="temporal-end-label">Temporal End</label>
		<div class="dropdown col-sm-9">
			<a class="dropdown-toggle" id="temportal-end-dropdown" role="button"  data-target="#" href="#">
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="temporalEnd">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="temporal-end-label">
				<datetimepicker data-ng-model="temporalEnd" 
								data-datetimepicker-config="{ dropdownSelector: '#temporal-end-dropdown' }"></datetimepicker>
			</ul>
		</div>
	</div>
	<div id="pub-notes-div" class="form-group">
		<label class="control-label col-sm-3" for="notes-input">USGS Citation</label>
        <div class="col-sm-9">
            <textarea id="notes-input" class="form-control" ng-model="notes"></textarea>
        </div>
	</div>
</div>
