
<div id="colaborators" ng-controller="colaboratorsCtrl">
	
	<tabset justified="true">
		<tab ng-repeat="tab in contribTypes" heading="{{tab.title}}" select="colaboratorShow(tab.type)"
				active="tab.active" disabled="tab.disabled">
			<div ng-if="colaboratorShow() === tab.type">

				<div id="{{tab.title}}_tab" pw-list entries="colaborators" type-label="'Colaborators'" 
					entry-height="75"entry-width="750" service="Colaborators">

					<select placeholder="Type" ui-select2 ng-model="entry.type" class="colaboratorType">
						<option value=""></option>
						<option ng-repeat="option in typeOptions" value="{{option.value}}" ng-bind="option.text"></option>
					</select>
					<span ng-hide="isCorporation(entry)">
						<input placeholder="Last Name"  type="text" ng-model="entry.family" style="width:166px;">
						<input placeholder="First Name" type="text" ng-model="entry.given"  style="width:200px;">
						<input placeholder="Email"      type="text" ng-model="entry.email"  style="width:200px;">
						<div></div>
						<span style="width:122px;display: inline-block;"></span>
					</span>
					<input placeholder="Corporation"  type="text" ng-model="entry.literal"  style="width:574px;margin-left:7px;">
					<div ng-show="isCorporation(entry)">&nbsp;</div>

				</div>

			</div>
		</tab>
	</tabset>

</div>
