.colaboratorSmall {
	width:166px;
}
.colaboratorMedium {
	width:200px;
}
.colaboratorLarge {
	width:575px;
}
.colaboratorSpacer {
	display: inline-block;
	width:128px;
}
.colaboratorType {
	margin-right: 4px;
	width:125px;
}


