
<div id="collaborators" ng-controller="collaboratorsCtrl">

	<tabset justified="true">
		<tab ng-repeat="tab in contribTypes" heading="{{tab.text}}" select="collaboratorShow(tab.value)"
				active="tab.active" disabled="tab.disabled">
			<div ng-if="collaboratorShow() === tab.value">

				<div id="{{tab.text}}_tab" pw-list entries="collaborators" type-label="'{{tab.value}}'"
					entry-height="75"entry-width="750" service="Collaborators">

					<select placeholder="Type" ui-select2 ng-model="entry.type" class="collaboratorType">
						<option value=""></option>
						<option ng-repeat="option in typeOptions" value="{{option.value}}" ng-bind="option.text"></option>
					</select>
					<span ng-if="!isCorporation(entry)">
						<input placeholder="Last Name"  type="text" ng-model="entry.family" class="collaboratorSmall">
						<input placeholder="First Name" type="text" ng-model="entry.given"  class="collaboratorMedium">
						<input placeholder="Email"      type="text" ng-model="entry.email"  class="collaboratorMedium">
						<div></div>
						<span class="collaboratorSpacer"></span>
						<input placeholder="Affiliation"  type="text" ng-model="entry.affiliation" class="collaboratorLarge">
					</span>
					<span ng-if="isCorporation(entry)">
						<input placeholder="Corporation"  type="text" ng-model="entry.literal"  class="collaboratorLarge">
						<div ng-show="isCorporation(entry)">&nbsp;</div>
					</span>
				</div>

			</div>
		</tab>
	</tabset>

</div>
